<div>
  <div class="card-form flex g-8">
    <mat-icon (click)="back()" svgIcon="icon-arrow-left"></mat-icon>
    <h6>Customer Add</h6>
  </div>
  <hr>
  <div class="card-form">
      <label class="caption">Name</label>
      <input [(ngModel)]="data.name" class="form-input" type="text">
  </div>
  <div class="card-form">
      <label class="caption">Address</label>
      <input [(ngModel)]="data.address" class="form-input" type="text">
  </div>
  <div class="card-form">
      <label class="caption">Telp</label>
      <input [(ngModel)]="data.telp" class="form-input" type="text">
  </div>
  <div class="card-form">
      <label class="caption">Kota</label>
      <mat-select class="form-input" [(ngModel)]="data.deptCode">
        <mat-option value="PDG">PADANG</mat-option>
        <mat-option value="PKU">PEKANBARU</mat-option>
      </mat-select>
  </div>
  <div class="end card-form">
      <div>
          <button mat-button class="btn-secondary" style="margin-right: 12px;">Cancel</button>
          <button (click)="onSaveCustomer()" mat-button [disabled]="dataService.loading" [class]="dataService.loading?'btn-disable':'btn-primary'">Save</button>
      </div>
  </div>

</div>
