h1{
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 96px !important;
    line-height: 112px !important;
    letter-spacing: -1.5px !important;
    color: var(--color-primary-text) !important;
}

h2{
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 60px !important;
    line-height: 72px !important;
    letter-spacing: -0.5px !important;
    color: var(--color-primary-text) !important;
}

h3{
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 48px !important;
    line-height: 56px !important;
    color: var(--color-primary-text) !important;
}

h4{
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 34px !important;
    line-height: 36px !important;
    color: var(--color-primary-text) !important;
}

h5{
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 24px !important;
    line-height: 24px !important;
    letter-spacing: 0.18px !important;
    color: var(--color-primary-text) !important;
}

h6{
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    letter-spacing: 0.15px !important;
    color: var(--color-primary-text) !important;
}

.subtitle-1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--color-primary-text);
}

.subtitle-2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--color-primary-text);
}

.body-1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--color-primary-text);
}

.body-1-input{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--color-secondary-text);
}

.body-2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--color-primary-text);
}

.body-2-pos{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--color-secondary-text);
}

.button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: capitalize;
    color: var(--color-primary-text);
}

.caption{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.overline{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--color-primary-text);
}

.headline-6{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--color-primary-text);
}

.headline-3{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    color: var(--color-primary-text);
}
