<div>
  <div >
    <div class="head-supplier hide-to-desktop">
      <div class="flex-between">
        <h6 >List Supplier</h6>
        <button  routerLink="/supplier/add" mat-button class="btn-primary">
          <mat-icon svgIcon="icon-plus" class="icon"></mat-icon>
          Supplier</button>
      </div>
    </div>
    <div class="flex-between card-search">
      <h6  class="full hide-to-mobile">List Supplier</h6>
      <div class="form-input-search g-4">
        <input style="width: 100%;" (keyup.enter)="search()" [(ngModel)]="cari" class="search" placeholder="Search supplier" type="text">
        <mat-icon (click)="resetSearch()" *ngIf="cari" class="icon pointer" svgIcon="icon-close-fill" ></mat-icon>
        <mat-icon (click)="search()" class="icon pointer" svgIcon="icon-search" ></mat-icon>
      </div>
      <div class="flex end full hide-to-mobile">
        <button  routerLink="/supplier/add" mat-button class="btn-primary">
          <mat-icon svgIcon="icon-plus" class="icon"></mat-icon>
          Supplier</button>
      </div>
    </div>
  </div>
  <div *ngIf="dataSupplier?.length==0" class="flex-around align-center" style="height: calc(100vh - 200px);">
    <div>
      <p class="caption">Belum ada supplier</p>
    </div>
  </div>
  <div  *ngIf="dataSupplier?.length>0" class="card-body">
    <div  class="flex-between card-form hide-to-mobile" style="border-bottom: 1px solid #e0e0e0;background-color: #e0e0e0;border-radius: 0 0 16px 16px;">
      <div style="display: grid;grid-template-columns: repeat(3,1fr);width: 90%;">
        <p class="body-1">Name</p>
        <p class="body-1">Address</p>
        <p class="body-1">Telp</p>
      </div>
      <div class="flex">>
      </div>
    </div>
    <div class="list-supplier hide-to-mobile">
      <div *ngFor="let item of dataSupplier" class="flex-between card-form " style="border-bottom: 1px solid #e0e0e0;">
        <div style="display: grid;grid-template-columns: repeat(3,1fr);width: 90%;">
          <p class="body-1">{{item.name}}</p>
          <p class="body-1">{{item.address}}</p>
          <p class="body-1">{{item.telp}}</p>
        </div>
        <div class="flex">
          <button (click)="toEdit(item.idSupplier)" mat-button class="btn-secondary" style="margin-right: 10px;">edit</button>
          <button mat-button class="btn-primary" (click)="onDelete(item.idSupplier)">Delete</button>
        </div>
      </div>
    </div>
    <div class="list-supplier hide-to-desktop">
      <div *ngFor="let item of dataSupplier" class="flex-between card-form " >
        <div >
          <p class="body-1">{{item.name}}</p>
        </div>
        <div class="flex">
          <button (click)="toEdit(item.idSupplier)" mat-button class="btn-secondary" style="margin-right: 10px;">edit</button>
          <button mat-button class="btn-primary" (click)="onDelete(item.idSupplier)">Delete</button>
        </div>
      </div>
    </div>

  </div>

</div>
