<div>
  <div class="card-form flex g-8">
    <mat-icon class="pointer" (click)="back()" svgIcon="icon-arrow-left" ></mat-icon>
      <h6>Tambah Pengeluaran</h6>
  </div>
  <hr>
  <div class="card-form">
      <label class="caption">Tipe Pengeluaran</label>
      <mat-select [(ngModel)]="data.noCoa" class="form-input">
        <mat-option  (click)="onOpenDialogAddCoa()" >
          <mat-icon value="" class="icon" svgIcon="icon-plus"></mat-icon>
          tipe Pengeluaran
        </mat-option>
        <mat-option *ngFor="let item of dataCoa" [value]="item.noCoa">{{item.description}} </mat-option>
      </mat-select>
  </div>
  <div class="card-form">
      <label class="caption">Amount</label>
      <input [(ngModel)]="data.amount" class="form-input" type="text">
  </div>
  <div class="card-form">
      <label class="caption">Date</label>
      <div class="flex align-center">
        <input (click)="picker.open()" [(ngModel)]="data.date" class="form-input" type="text" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      </div>
      <mat-datepicker #picker></mat-datepicker>
  </div>
  <div class="card-form">
      <label class="caption">Description</label>
      <textarea [(ngModel)]="data.description" class="form-input"cols="30" rows="5"></textarea>
  </div>
  <div class="end card-form">
      <div>
          <button mat-button class="btn-secondary" style="margin-right: 12px;">Cancel</button>
          <button (click)="onSaveCost()" mat-button  [disabled]="dataService.loading"  mat-button [class]="dataService.loading?'btn-disable':'btn-primary'">Save</button>
      </div>
  </div>

</div>
